:root{
    --bg_color_1: #070130;
    --bg_color_2: #0d0065;
    --bg_color_3: #222b5c;
    --bg_color_4:#1a0e22;
    --bg_music_bar: #2b2b2a;
    --font_color_1: white;
    --font_color_2: lightgrey;
    --font_color_3: #1DB954;
  
  }
  .table{
    height: auto;
    width: 70%;
  }
  .top_list{ display: flex;
width:300px;
height: 300px;
padding:10px;
background-color:val(--bg_music_bar);
margin: 40px 30px 30px 30px ;
float:left;
  }
  .box{
       width:250px;
        height:250px;
        background-color: val(--bg_color_2);
        justify-content: center;
        display: inline;
        margin:15px 10px 10px 10px;
        transition: 0.5s;
  }
  .box img{
      width:250px;
      height:250px;
      margin: 5px 5px 5px 5px;
  }
  .box:hover{
      transform:scale(1.3);
      box-shadow: 1px 1px #000;
      z-index: 2;

  }
  .list{ 
    margin:5px 5px 5px 5px;
    color:white;
  }
  .box1{
    display:flex;
    margin: 5px 5px 5px 50px;
  }
  .box_img img{
    height: 100px;
    width:100px;
    float:left;
  }
  .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;}
  .data{ margin:5px 5px 5px 5px;
    float:right;
  }
  .Artists{
    display: inline-flex;
    color: var(--bg_music_bar);
    justify-content: center;
  }
  .circle{
 margin: 5px 5px 5px 5px;
 border-radius: 50%;
 box-shadow:var(--bg_music_bar);
  }
.circle img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  }
  #popular-artists-text{
    text-align: center;
    margin-top: 40%;
    color: var(--font_color_1);
    font-family: sans-serif;
    font-weight: bold;
  }
  #popular-artists-text a{
    text-decoration: none;
    color: var(--font_color_1);
  }
  #circle img:hover{
    box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2); /*On hovering a shadow appears*/
    opacity: 0.8;
  }
  #popular-artists-text:hover>.hide{
    display: block;
  }